/* PROJECT STYLES */
.project_overview {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
}

.project_description {
  flex: 1;
  margin-right: 30px;
}

.project_banner {
  flex: 1;
}

.project_img {
  width: 100%;
  border: 1px darkblue solid;
}

.project_process_texts {
  display: flex;
  flex-direction: row;
}

.project_text {
  flex: 1;
  margin-left: 75px;
  margin-right: 20px;
}

.project_text1 {
  flex: 1;
  margin-left: 20px;
  margin-right: 75px;
}

.process_img {
  width: 90%;
  border: 1px darkblue inset;
  margin-left: 75px;
  margin-right: 75px;
  align-self: center;
}

.project_challenge {
  display: flex;
  flex-direction: row;
}

.project_challenges>h1 {
  text-align: right;
}

.project_challenge_image {
  flex: 1;
  margin-left: 75px;
}

.project_challenge_text {
  flex: 1;
  margin-left: 20px;
  margin-right: 50px;
  align-items: center;
}

/* Responsive layout */
@media screen and (max-width: 700px) {
  .project_overview, .project_process_texts, .project_challenge {
    flex-direction: column;
  }
}

/* END OF PROJECT STYLE */