/* PROJECT STYLES */
.project_overview {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 30px 70px;
}

.project_description {
  flex: 1;
  margin-right: 30px;
  border-radius: 1em;
  background: #cce5ff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.project_banner {
  flex: 1;
}

.project_img {
  width: 100%;
  border: 1px darkblue solid;
}

.project_process_texts {
  display: flex;
  flex-direction: row;
}

.project_text {
  flex: 1;
  margin-right: 20px;
  border-radius: 1em;
  background: #cce5ff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.project_text1 {
  flex: 1;
  margin-left: 20px;
  border-radius: 1em;
  background: #cce5ff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.project_process {
  margin: 0 30px 70px;
}

.process_img {
  width: 100%;
  border: 1px darkblue inset;
}

.project_challenge {
  display: flex;
  flex-direction: row;
  margin: 0 30px 20px;
  align-items: center;
}

.project_challenges>h1 {
  text-align: right;
}

.project_challenge_image {
  flex: 1;
  margin-right: 40px;
}

.project_challenge_text {
  border-radius: 1em;
  background: #cce5ff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
  margin-left: 20px;
}

/* Responsive layout */
@media screen and (max-width: 700px) {
  .project_overview, .project_process_texts, .project_challenge {
    flex-direction: column;
  }

  .project_text1, .project_text {
    margin: 20px 0px 0;
  }

  .project_description, .project_challenge_image, .project_challenge_text {
    margin: 0 0 20px;
  }
}

.project_headers {
  padding-right: 50px;
  padding-left: 30px;
  font-size: 35px;
  color: darkblue;
}

/* END OF PROJECT STYLE */