/*Flex Stuff*/
.flex-container {
  display: flex;
  flex direction: row;
}

.row {
  margin: 3rem;
}

.block1 {
  width: 100%;
}

.block2 {
  width: 100%;
}

/*About section on home page flex stuff*/
#aboutSection {
  background-color: black;
  padding: 2rem;
}

#aboutSection p {
  color: white
}

#aboutSection h2 {
  color: white
}

.imgPlaceholder {
  background-color: white;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 300px;
}

#aboutSection .block1 {
  flex: 1 50%;
}

#aboutSection .block2 {
  display: flex;
  align-items: center;
  flex: 1 50%;
}

/*About section on home page flex stuff*/
#projectSection {
  width: 80%;
  margin: 0 auto;
}

#cleanTreetmentSection {
  width: 80%;
  margin: 0 auto;
}

#projectSection .project_block {
  display: flex;
  align-items: center;
  flex: 1 33%;
  padding: 10px;
}

@media only screen and (max-width: 650px) {
  .menu {
    flex-wrap: wrap;
  }

  .title_img {
    width: 100%;
  }

  .title_img img {
    height: 200px;
  }

  div.product {
    width: 100%;
  }

  .contact-text-box[type=text] {
    width: 90%;
  }

  /*input text-box styling*/
  .contact-text-box[type=text]:focus {
    width: 90%;
  }

  /*input textarea styling*/
  .contact-textarea {
    width: 90%;
  }

  section#cart {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    position: relative;
  }

  .cart_product {
    width10px;
  }

  .text_box {
    width: 90%;
  }
}

@media only screen and (max-width: 669px) {
  .flex-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 998px) {
  div.product {
    width: 50%;
  }

  section#cart {
    width: 325px;
  }

  .row {
    margin: 3rem 10rem;
  }
}